doctype html
html(lang="pl-PL")
  head
    meta(charset="UTF-8")
    title Sample application | Chmurowisko
    style
      include style.css
  body
    nav
      img(src="https://chmurowisko.pl/images/Chmurowisko-logo69.svg")
      span(class='text') Wersja: #{version}
    main
      h1 Technologia w służbie rozwoju
      p(class='text') Planujemy, wdrażamy i optymalizujemy projekty z wykorzystaniem technologii wszystkich dostawców chmurowych.